/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 5%;
}

h1 {
    padding-bottom:8px;
}

/* Container for sidebar and main content */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar styling */
.sidebar {
    width: 100px;
    background-color: #697a44;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}

.sidebar .button {
    color: #e9c088;
    padding: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 15pt;
}

.sidebar .button:hover {
    background-color: #394032;
}

.sidebar .button i {
    margin-right: 1px; /* Space between icon and text */
}

/* Main content styling */
.main-content {
    flex-grow: 1; /* Makes main content fill remaining space */
    padding: 60px;
    background-color: #c0cdc6; /* Light grey background */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:#51392d;
}

nav {
    background-color: #51392d;
    overflow: hidden;
}

nav a {
    color: #51392d;
    padding: 14px 20px;
    text-decoration: none;
    float: left;
}

nav a:hover {
    background-color: #51392d;
}

.content {
    padding: 20px;
}


/* Specific styles for the calendar button */
.calendar .button {
    padding: 6px;
    font-size: 15px;
    font-weight: bold;
    color: #e9c088;
    background-color: #697a44; 
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.calendar .button:hover {
    background-color: #394032; /* Darker blue on hover */
}

.calendar .button:active {
    background-color: #394032; /* Even darker blue when clicked */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slightly reduced shadow */
}

.calendar .button:focus {
    outline: none; /* Removes default outline */
    box-shadow: 0 0 0 3px rgba(76, 139, 245, 0.5); /* Custom focus ring */
}
